name: "Run flake check"

on:
  push:
    branches: [ main ]
    tags: [ '*' ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        targets:
          - repo: NixOS/nixpkgs
            branch: nixos-25.05
          - repo: NixOS/nixpkgs
            branch: nixos-unstable

          - repo: NuschtOS/nuschtpkgs
            branch: nixos-25.05
          - repo: NuschtOS/nuschtpkgs
            branch: backports-25.05
          - repo: NuschtOS/nuschtpkgs
            branch: nixos-unstable

          - repo: SuperSandro2000/nixpkgs
            branch: nixos-unstable

    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v33
        with:
          nix_version: 2.31.0

      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ matrix.targets.branch }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-${{ matrix.targets.branch }}-

      - name: eval plain config with flake.lock
        if: matrix.targets.repo == 'NuschtOS/nuschtpkgs' && matrix.targets.branch == 'nixos-unstable'
        run: |
          nix eval .#checks.x86_64-linux.no-config -L --show-trace
      - name: eval plain config with ${{ matrix.targets.repo }}/${{ matrix.targets.branch }}
        if: matrix.targets.repo != 'NuschtOS/nuschtpkgs' || matrix.targets.branch != 'nixos-unstable'
        run: |
          nix eval --extra-experimental-features ca-derivations -L --show-trace \
            --override-input nixpkgs github:${{ matrix.targets.repo }}/${{ matrix.targets.branch }} \
            .#checks.x86_64-linux.no-config

      - name: run nix flake check with flake.lock
        if: matrix.targets.repo == 'NuschtOS/nuschtpkgs' && matrix.targets.branch == 'nixos-unstable'
        run: |
          nix flake check -L --show-trace
      - name: run nix flake check with ${{ matrix.targets.repo }}/${{ matrix.targets.branch }}
        if: matrix.targets.repo != 'NuschtOS/nuschtpkgs' || matrix.targets.branch != 'nixos-unstable'
        run: |
          nix flake check --extra-experimental-features ca-derivations -L --show-trace \
            --override-input nixpkgs github:${{ matrix.targets.repo }}/${{ matrix.targets.branch }}

